.form-style{
    width: 70%; margin: 30px auto;
}

.campground-heading{
    text-align: center;
}

.delete-form{
    display: inline;
}

.campground-desc{
    padding: 0 1.2rem;
}

.comments-div{
    width: 30%; 
    margin: 30px auto;
}

.form-header{
    text-align: center;
}

.login-form-style{
    width: 50%;
    margin: 30px auto;
}